# Tuples

In [2]:
s = 'build'
s[-1] = 't'

TypeError: 'str' object does not support item assignment

In [3]:
s = s[:-1] + 't'
print(s)

built

In [4]:
position = (100, 50)
type(position)

tuple

In [5]:
len(position)

2

In [6]:
t = tuple([1,2,3])

In [7]:
print(t)

(1, 2, 3)

In [8]:
t = tuple('abc')
print(t)

('a', 'b', 'c')

In [1]:
t = tuple((1,2,3))
print(t)

(1, 2, 3)

In [2]:
t1 = ()
t2 = tuple()
print(t1 , type(t1))
print(t2 ,type(t2))

() <class 'tuple'>
() <class 'tuple'>

In [3]:
t1 = (1)
print(t1 , type(t1))

1 <class 'int'>

In [5]:
t1 = (1,)
print(t1 ,type(t1))

(1,) <class 'tuple'>

In [6]:
t2 = tuple([1])
print(t2,type(t2))

(1,) <class 'tuple'>

In [7]:
days = ('Sun','Mon','Tue','Wed','Thu','Fri','Sat')

book_info = ('Python Basics',39.99,2021,('D.Amos','D.Bader','J.Jablonski','F.Heisler'))

print(book_info)

('Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler'))

In [8]:
print(book_info[0])

Python Basics

In [9]:
print(book_info[-1])

('D.Amos', 'D.Bader', 'J.Jablonski', 'F.Heisler')

In [10]:
print(book_info[:3])

('Python Basics', 39.99, 2021)

In [11]:
title ,price ,year = book_info[:-1]
print(title)

Python Basics

In [12]:
print(price)

39.99

In [13]:
print(year)

2021

In [14]:
position = (100,50)
x ,y = position

In [15]:
print(x,y)

100 50

In [16]:
position[0] = 120

TypeError: 'tuple' object does not support item assignment

In [17]:
position = (120,50)
print(position)

(120, 50)

In [18]:
pos = (1,2,3)
position += pos
print(position)

(120, 50, 1, 2, 3)

In [19]:
t1 = (1,2,3)
print(id(t1),t1)

2187314086976 (1, 2, 3)

In [20]:
t2 = (40,50,60)
print(id(t2),t2)

2187314138240 (40, 50, 60)

In [21]:
t1 += t2
print(id(t1),t1)

2187309978080 (1, 2, 3, 40, 50, 60)

In [22]:
del position
print(position)

NameError: name 'position' is not defined

In [23]:
planets = ('Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune')

In [24]:
for i in planets:
    print(i)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [25]:
i = 0
while i < len(planets):
    print(planets[i])
    i += 1

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [27]:
for i in range(len(planets)):
    print(planets[i])

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [28]:
for i,v in enumerate(planets):
    print(i,v)

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn
6 Uranus
7 Neptune

In [29]:
[print(x) for x in planets]

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

[None, None, None, None, None, None, None, None]

In [30]:
t = (1,2,3)

In [31]:
a = t
print(a)

(1, 2, 3)

In [32]:
b = t[:]
print(b)

(1, 2, 3)

In [33]:
c = tuple(t)
print(c)

(1, 2, 3)

In [34]:
d = t.copy()
print(d)

AttributeError: 'tuple' object has no attribute 'copy'

In [35]:
planets.index('Earth')

2

In [36]:
planets.index('Earth',0,3)

2

In [37]:
planets.index('Earth',3)

ValueError: tuple.index(x): x not in tuple

In [38]:
if 'Earth' in planets[3:]:
    planets.index('Earth',3)
else:
    print('Not found')

Not found

In [40]:
planets.count('Earth')

1

In [41]:
planets.count('Moon')

0

In [42]:
print('Moon' in planets)

False

In [43]:
print('Venus' in planets)

True